
* {
  box-sizing: border-box;
}

body {
  background-color: #1E1E1E;
}


@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .container {
      flex-direction: column;
  }
}

.heading {
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 5px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.onboardingbox {
  border-radius: 20px;
  width: 300px;
  height: 95px;
  background-color: rgba(0, 0, 0, 0.35);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.contentbox {
  border-radius: 20px;
  width: 300px;
  height: 95px;
  background-color: rgba(0, 0, 0, 0.35);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}

.onbtext {
  padding: 30px 30px;
  font-size: 25px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.conttext {
  padding-left: 35px;
  font-size: 25px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.onbarrow {
  padding: 30px 30px;
  margin: auto;
}

.updatebox {
  border-radius: 20px;
  width: 300px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.35);
  margin: auto;
  display: flex;
}

.todobox {
  border-radius: 20px;
  width: 300px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.35);
  margin: auto;
  display: flex;
}

.updtext {
  padding-top: 15px;
  padding-left: 35px;
  font-size: 20px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todotext {
  padding-top: 0;
  padding-left: 0px;
  padding-bottom: 10px;
  font-size: 20px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.seeall {
  text-decoration: underline;
  font-style: italic;
  margin: 10px;
  padding-left: 2px;
  padding-top: 22px;
  font-size: 13px;
  font-weight: 100;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
  height: 40px;
  margin-top: 75px;
  margin-left: -140px;
}

.ComingSoon {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  padding-top: 71px;
  padding-left: 15px;
}

.navbar {
  gap: 45px;
  overflow: hidden;
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar a i {
  font-size: 18px;
  margin-bottom: 5px;
}


#todo-list {
  list-style: none;
  padding-top: 20px;
  padding-right: 0px;
}

#todo-list li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
}

#todo-list input[type="checkbox"] {
  margin-right: 10px;
}

#todo-list li.completed label {
  text-decoration: line-through;
  color: #888;
}

.brandingbox {
  border-radius: 20px;
  width: 300px;
  height: 95px;
  background-color: rgba(0, 0, 0, 0.35);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}

.brandtext {
  padding-left: 35px;
  font-size: 25px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.perbrandbox {
  border-radius: 28px;
  width: 300px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.35);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.brandimg {
  width: 300px;
  height: 252px;
}

.brandheading {
  font-weight: bold;
  padding-top: 18px;
  padding-left: 35px;
  display: flex;
  gap: 50px;
  font-size: 20px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.arrow {
  padding-right: 35px;
  margin: auto;
}

.scriptcount {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;
  height: 100vh;          /* Full viewport height for demonstration */
  color: white;
}

.text1 {
  padding-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.text2 {
  font-size: 20px;
  font-weight: bold;
}

.profile1 {
  padding-top: 35px;
}

.profile1head {
  display: flex;
  align-items: center;
  gap: 12px;
}

.supcontainer {
  padding-left: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.mejpg {
  border-radius: 200px;
  width: 43px;
  height: 43px;
}

.profile2head {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tele1 {
  font-weight: bold;
  font-size: 17px;
}

.num1 {
  font-weight: bold;
  font-size: 17px;
}

.tele2 {
  font-weight: bold;
  font-size: 17px;
}

.num2 {
  font-weight: bold;
  font-size: 17px;
}

